body{
    text-align: center;
    box-sizing: 0;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(227,176,205,0.9864320728291317) 35%, rgba(207,206,214,1) 66%, rgba(148,187,233,1) 100%);
}

#frm{
    margin: 50px 50px ;
    padding: 50px 50px 50px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

